.m-footer
  .m-section
    .footer-nav
      a(href='/immigrate') 关于淘力就业移民
      a(href='/about_taoli') 关于淘力
      a(href='#') 关于国际人才解决公司
    p.copyright 粤ICP备14066456号        Copyright @Tounick. All Right Reserved.
.m-min-footer
  p.copyright 粤ICP备14066456号        Copyright @Tounick. All Right Reserved.
script(src='../js/libs/jquery-1.10.1.min.js')
script(src='../js/common.js')
