.m-head
  .m-head-cont
    .m-head-tip
      .m-section
        span.small_tagline
        a(href='#') 联系我们
    .m-head-nav
      .m-section.clearfix
        a(href='/')
          h1.m-logo.taoli-logo(title='淘力')
        ul.head-nav
          li
            a.head-nav-cur(href='/') 首页
          li
            a(href='find.html') 抢工作
          li
            a(href='zhongbao.html') 众包
          li
            a(href='master_list.html') 师徒
          li
            a(href='enterprise_service.html') 企业服务
          li
            a(href='common_qa.html') 常见问题
          li
            a(href='about_taoli.html') 关于淘力
          li
            a(href='immigrate.html') 澳洲就业移民
.m-min-head
  .head-nav
    // <h1 class="head-nav-item taoli-logo"></h1>
    a.head-nav-item(href='index.html') 首页
    a.head-nav-item(href='find.html') 抢工作
    a.head-nav-item(href='master_list.html') 师徒
