doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title 常见问题－求职者服务
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='black', name='apple-mobile-web-app-status-bar-style')
    meta(content='telephone=no', name='format-detection')
    link(rel='shortcut icon', type='image/ico', href='favicon.ico')
    // inject:css
    link(rel='stylesheet', href='../css/main.css')
    // endinject
  body
    include ./includes/head.pug
    .m-wrap.p-com-qas
      .inner-container.clearfix
        .m-sidebar-qa
          ul.menu
            li
              a(href='common_qa.html') 淘力更新
            li.on-select
              a(href='common_qa_service.html') 求职者服务
          ul.qa-list
            li
              a(href='common_qa_how_to_send_order.html#0') 淘力如何派单给我
            li
              a(href='common_qa_how_to_send_order.html#1') 如何抢单
            li
              a(href='common_qa_how_to_send_order.html#2') 如何认证
            li
              a(href='common_qa_how_to_send_order.html#3') 如何创建团队
            li
              a(href='common_qa_how_to_send_order.html#4') 如何收取徒弟
            li
              a(href='common_qa_how_to_send_order.html#5') 如何找师傅
            li
              a(href='common_qa_how_to_send_order.html#6') 保证金是什么
            li
              a(href='common_qa_how_to_send_order.html#7') 如何拿到薪资
            li
              a(href='common_qa_how_to_send_order.html#8') 钱包余额如何体现
            li
              a(href='common_qa_how_to_send_order.html#9') 积分如何使用
            li
              a(href='common_qa_how_to_send_order.html#10') 如何投诉
        .m-content(data-page='0')
          .service-item.clearfix
            .service-content
              .title-row
                i.iconfont.icon-help
                a(href='common_qa_how_to_send_order.html#0')
                  h2 淘力如何派单给我
              .content-row
                i.help-avatar
                p
                  | 我已经注册为淘力的用户了，淘力要如何派单给我呢？
            span.publish-time 2016-08-30: 19:10
          .service-item.clearfix
            .service-content
              .title-row
                i.iconfont.icon-help
                a(href='#')
                  a(href='common_qa_how_to_send_order.html#1')
                    h2 如何抢单
              .content-row
                i.help-avatar
                p
                  | 好工作总是很快就招满了，那如何抢单呢？
            span.publish-time 2016-08-30: 19:10
          .service-item.clearfix
            .service-content
              .title-row
                i.iconfont.icon-help
                a(href='common_qa_how_to_send_order.html#2')
                  h2 如何认证
              .content-row
                i.help-avatar
                p
                  | 实名认证、健康证、领队认证、师父认证、电工证……
            span.publish-time 2016-08-30: 19:10
          .service-item.clearfix
            .service-content
              .title-row
                i.iconfont.icon-help
                a(href='common_qa_how_to_send_order.html#3')
                  h2 如何创建团队
              .content-row
                i.help-avatar
                p
                  | 组建老乡团，众包工作，团队管理——都很方便.
            span.publish-time 2016-08-30: 19:10
          .service-item.clearfix
            .service-content
              .title-row
                i.iconfont.icon-help
                a(href='common_qa_how_to_send_order.html#4')
                  h2 如何收徒
              .content-row
                i.help-avatar
                p
                  | 我能当师父吗？我能收徒弟吗？
            span.publish-time 2016-08-30: 19:10
        .m-content(data-page='1')
          .service-item.clearfix
            .service-content
              .title-row
                i.iconfont.icon-help
                a(href='common_qa_how_to_send_order.html#5')
                  h2 如何找师父
              .content-row
                i.help-avatar
                p
                  | 我想要跟师父实习，怎么找师父？收费吗？
            span.publish-time 2016-08-30: 19:10
          .service-item.clearfix
            .service-content
              .title-row
                i.iconfont.icon-help
                a(href='common_qa_how_to_send_order.html#6')
                  h2 保证金是什么
              .content-row
                i.help-avatar
                p
                  | 有些工作需要保证金，有些则不需要，为什么？
            span.publish-time 2016-08-30: 19:10
          .service-item.clearfix
            .service-content
              .title-row
                i.iconfont.icon-help
                a(href='common_qa_how_to_send_order.html#7')
                  h2 如何拿到薪酬
              .content-row
                i.help-avatar
                p
                  | 工作结束后如何领取工资？
            span.publish-time 2016-08-30: 19:10
          .service-item.clearfix
            .service-content
              .title-row
                i.iconfont.icon-help
                a(href='common_qa_how_to_send_order.html#8')
                  h2 钱包余额如何提现？
              .content-row
                i.help-avatar
                p
                  | 退款、打赏、参与互动后的钱放入我的淘力钱包中后，如何提现？
            span.publish-time 2016-08-30: 19:10
          .service-item.clearfix
            .service-content
              .title-row
                i.iconfont.icon-help
                a(href='common_qa_how_to_send_order.html#9')
                  h2 积分如何使用？
              .content-row
                i.help-avatar
                p
                  | 积累的积分有什么用？
            span.publish-time 2016-08-30: 19:10
        .m-content(data-page='2')
          .service-item.clearfix
            .service-content
              .title-row
                i.iconfont.icon-help
                a(href='common_qa_how_to_send_order.html#10')
                  h2 如何投诉？
              .content-row
                i.help-avatar
                p
                  | 如果遇到虚假工作、恶意评价、不发工资等行为，如何投诉？
            span.publish-time 2016-08-30: 19:10
        .panigation-container
          .m-page.J_page(data-page='1')
            a.page-item.page-item-disabled.up(href='#') 上一页
            // <span href="#" class="page-item page-item-disabled">上一页</span>
            a.page-item.page-item-cur(href='#0') 1
            a.page-item(href='#1') 2
            a.page-item(href='#2') 3
            a.page-item.down(href='#') 下一页
    include ./includes/footer.pug
    script(src='../js/qa_service.js')
