doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title 免责声明
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='black', name='apple-mobile-web-app-status-bar-style')
    meta(content='telephone=no', name='format-detection')
    link(rel='shortcut icon', type='image/ico', href='favicon.ico')
    // inject:css
    link(rel='stylesheet', href='../css/main.css')
    // endinject
  body
    include ./includes/head.pug
    .m-wrap.p-statement.sidebar
      .inner-container.clearfix
        .m-sidebar
          ul.menu
            li
              a(href='/about_taoli.html') 关于淘力
            li.on-select
              a(href='/statement.html') 免责声明
            li
              a(href='/contact.html') 联系我们
            li
              a(href='/media_report.html') 媒体报告
        .m-content
          h2 免责声明
          p
            | 1、任何人因使用淘力平台而可能遭致的意外及其造成的损失（包括因下载本平台可能链接的第三方网站内容而感染电脑病毒），我们对此概不负责，亦不承担任何法律责任。
          p
            | 2、本平台禁止制作、复制、发布、传播等具有反动、色情、暴力、淫秽等内容的信息，一经发现，立即删除。若您因此触犯法律，我们对此不承担任何法律责任。
          p
            | 3、本平台会员自行上传或通过网络收集的资源，我们仅提供一个展示、交流的平台，不对其内容的准确性、真实性、正当性、合法性负责，也不承担任何法律责任。
          p
            | 4、任何单位或个人认为通过本平台网页内容可能涉嫌侵犯其著作权，应该及时向我们提出书面权利通知，并提供身份证明、权属证明及详细侵权情况证明。我们收到上述法律文件后，将会依法尽快处理。
    include ./includes/footer.pug
